[Interface]
Address = {{ server.Address }}
PostUp = iptables -A FORWARD -i wg0 -j ACCEPT; iptables -t nat -A POSTROUTING -o wg0 -j MASQUERADE; iptables -t nat -A POSTROUTING -o ens3 -j MASQUERADE;
PostDown = iptables -D FORWARD -i wg0 -j ACCEPT; iptables -t nat -D POSTROUTING -o wg0 -j MASQUERADE; iptables -t nat -D POSTROUTING -o ens3 -j MASQUERADE;
ListenPort = {{ WG_LISTEN_PORT }}
PrivateKey = {{ server.PrivateKey }}

{% for peer in peers %}
[Peer]
PublicKey = {{ peers[peer].PublicKey }}
AllowedIPs = {{ peers[peer].AllowedIPs }}
{% if peers[peer].Endpoint is defined %}
Endpoint = {{ peers[peer].Endpoint }}
{% endif %}
{% endfor %}